.menu-button {
  appearance: none;
  background: transparent;
  padding: 15px;
  position: fixed;
  left: 0.5%;
  top: 20%;
  border-radius: 30px;
  border-color: rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 103;
  outline: none;
  cursor: pointer;
}

.menu-button img {
  width: 20px;
  transform: rotate(180deg);
}
