.menu-button {
  appearance: none;
  background: transparent;
  width: 50px;
  height: 50px;
  position: fixed;
  left: 0.25%;
  top: 20%;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 103;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-button img {
  width: 20px;
  transform: rotate(180deg);
}
