.favorites-wrapper {
  margin-top: 100px;
  padding: 0 70px;

  .row-fav {
    @include flex-box(column, wrap, center, flex-start);
    margin: 0 0 40px;

    .row-fav__title {
      color: #fff;
      font-size: 28px;
      font-weight: bold;
      margin: 0 0 20px 0;
    }

    .favorites__inner-row {
      @include flex-box(row, wrap, flex-start, center);
      padding: 0 5px;
      width: 100%;

      .favorites__loc-wraper {
        width: calc(20% - 10px);
        margin: 5px;
        overflow: hidden;
        border-radius: 5px;
        position: relative;

        .favorites__loc-img {
          transition: .4s;

          &:hover {
            filter: drop-shadow(1px 1px 90px rgba(255, 255, 255, 0.432));
            transition: .4s;
          }

          img {
            width: 100%;
            height: 100%;
            filter: brightness(70%);
            transition: .4s;

            &:hover {
              filter: brightness(100%);
              transition: .4s;
            }
          }

        }

        .favorites__heart {
          position: absolute;
          top: 5px;
          right: 5px;
          cursor: pointer;

          img {
            width: 20px;
          }
        }

        .favorites__info {
          position: absolute;
          top: 40px;
          right: 5px;
          cursor: pointer;

          img {
            width: 25px;
          }
        }
      }
    }
  }
}