.favorites-wrapper {
  margin-top: 100px;
  padding: 0 70px;

  .row-fav {
    @include flex-box(column, wrap, center, flex-start);
    margin: 0 0 40px;

    .row-fav__title {
      color: #fff;
      font-size: 28px;
      font-weight: bold;
      margin: 0 0 20px 0;
    }

    .favorites__inner-row {
      @include flex-box(row, wrap, flex-start, center);
      padding: 0 5px;
      width: 100%;

      .favorites__loc-wraper {
        width: calc(20% - 10px);
        margin: 5px;
        position: relative;

        .favorites__loc-img {
          transition: 0.4s;

          &:hover {
            filter: drop-shadow(1px 1px 25px rgba(255, 255, 255, 0.082));
            transition: 0.4s;
          }

          img {
            border-radius: 5px;

            width: 100%;
            height: 100%;
            filter: brightness(70%);
            transition: 0.4s;

            &:hover {
              filter: brightness(100%);
              transition: 0.4s;
            }
          }
        }

        .favorites__heart {
          position: absolute;
          top: 5px;
          right: 5px;
          cursor: pointer;

          img {
            width: 20px;
          }
        }

        .favorites__info {
          position: absolute;
          top: 40px;
          right: 5px;
          cursor: pointer;

          img {
            width: 25px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .favorites-wrapper {
    .row-fav {
      .favorites__inner-row {
        .favorites__loc-wraper {
          width: calc(33.33% - 10px);

          .favorites__loc-img {
            &:hover {
              filter: drop-shadow(1px 1px 25px rgba(0, 0, 0, 0.082));
            }

            img {
              filter: brightness(100%);
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 668px) {
  .favorites-wrapper {
    padding: 0 35px;
    .row-fav {
      .favorites__inner-row {
        .favorites__loc-wraper {
          width: 100%;

          .favorites__loc-img {
            &:hover {
              filter: drop-shadow(1px 1px 25px rgba(0, 0, 0, 0.082));
            }

            img {
              filter: brightness(100%);
            }
          }
        }
      }
    }
  }
}
