.favorites-wrapper {
  margin-top: 100px;
  padding: 0 70px;

  .row-fav {
    @include flex-box(column, wrap, center, flex-start);
    // background: palevioletred;
    margin: 0 0 40px;

    .row-fav__title {
      color: #fff;
      font-size: 28px;
      font-weight: bold;
      margin: 0 0 20px 0;
    }

    .favorites__inner-row {
      @include flex-box(row, wrap, flex-start, center);
      // background: lawngreen;
      padding: 0 5px;
      width: 100%;

      .favorites__loc-wraper {
        width: calc(20% - 10px);
        margin: 5px;
        overflow: hidden;
        border-radius: 5px;
        position: relative;

        .favorites__loc-img {
          transition: .4s;

          img {
            width: 100%;
            height: 100%;
          }

          &:hover {
            transition: .4s;
            transform: scale(1.05);
            filter: blur(1px) brightness(50%);
          }
        }

        .favorites__heart {
          position: absolute;
          top: 5px;
          right: 5px;
          cursor: pointer;

          img {
            width: 30px;
          }
        }

        .favorites__info {
          position: absolute;
          top: 5px;
          right: 45px;
          cursor: pointer;

          img {
            width: 30px;
          }
        }
      }
    }
  }
}