.title-modal__wrapper {
  height: 100vh;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;

  .title-modal__header {
    @include flex-box(row, null, space-between, center);

    .header__icons {
      img {
        width: 200px;
        position: absolute;
        top: 0;
        margin: 40px 0;
        left: 8%;
      }
    }

    .header__title {
      @include flex-box(column, null, center, flex-end);
      width: 75%;

      h3 {
        font-size: 50px;
        margin: 20px 50px 10px;
        color: #ffffff;
        font-weight: bold;
      }

      h5 {
        font-size: 30px;
        margin: 10px 50px 20px;
        font-style: italic;
        color: #ffffff;
      }
    }
  }

  .title-modal__main-window {
    @include flex-box(row, null, center, center);
    height: 60%;
    margin: 3% 0 0;

    .main-window__video {
      flex: 3;

      .video-container-title-page {
        @include flex-box(null, null, center, center);
        width: 100%;

        .video-title-page {
          height: 50vh;
          width: 40vw;
        }
      }
    }

    .main-window__info {
      flex: 2;
      margin: 50px 50px 50px 0;

      .title-genres {
        color: #ffffff;
        font-style: italic;
        font-size: 18px;
        font-weight: bold;
      }

      p {
        color: #ffffff;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 20px;
      }

      ul {
        margin-top: 60px;
        color: #bb1616;

        li {
          font-size: 22px;
          margin: 10px 10px 0 0;

          span {
            color: #ffffff;
            font-style: italic;
          }
        }
      }

      img {
        cursor: pointer;
        width: 50px;
        margin: 30px 0;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .title-modal__wrapper {
    .title-modal__header {
      .header__title {
        h3 {
          font-size: 30px;
        }

        h5 {
          font-size: 25px;
        }
      }
    }

    .title-modal__main-window {
      @include flex-box(column, null, center, center);
      height: auto;
      margin: 3% 0 0;

      .main-window__video {
        flex: 1;

        .video-container-title-page {
          @include flex-box(null, null, center, center);
          width: 100%;

          .video-title-page {
            height: 31.4vh;
            width: 100vw;
          }
        }
      }

      .main-window__info {
        flex: 1;
        margin: 50px 0;
        width: 100%;
        padding: 0 150px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .title-modal__wrapper {
    .title-modal__header {
      .header__icons {
        img {
          left: 12%;
        }
      }
      .header__title {
        text-align: right;
        width: 70%;
      }
    }
  }
}

@media only screen and (max-width: 668px) {
  .title-modal__wrapper {
    height: auto;
    .title-modal__header {
      @include flex-box(column, null, center, center);

      .header__icons {
        img {
          width: 150px;
          position: relative;
          margin: 45px 0;
        }
      }

      .header__title {
        @include flex-box(column, null, center, center);
        width: 100%;
        text-align: center;

        h3 {
          font-size: 30px;
          margin: 10px 0 10px;
          padding: 0 30px;
        }

        h5 {
          font-size: 20px;
          margin: 10px 0 10px;
          padding: 0 30px;
        }
      }
    }

    .title-modal__main-window {
      @include flex-box(column, null, center, center);
      height: auto;
      margin: 3% 0 0;

      .main-window__video {
        flex: 1;

        .video-container-title-page {
          @include flex-box(null, null, center, center);
          width: 100%;

          .video-title-page {
            height: auto;
            width: 100vw;
          }
        }
      }

      .main-window__info {
        flex: 1;
        margin: 50px 0;
        text-align: center;
        width: 90%;
        padding: 0;

        .title-genres {
          margin: 0 5px;
        }

        p {
          font-size: 16px;
        }

        ul {
          margin-top: 40px;

          li {
            font-size: 18px;
          }
        }

        img {
          cursor: pointer;
          width: 50px;
          margin: 30px 0;
        }
      }
    }
  }
}
