.locandine-wrapper {
  // hack for waypoints to call api
  padding: 1% 0;

  .render-locandine-inner {
    @include flex-box(row, wrap, flex-start, center);
    margin-top: -11%;
  }

  .locandina-outer {
    @include flex-box(column, null, center, center);
    flex-basis: calc(14.28% - 20px);
    width: calc(14.28vw - 20px);
    height: 35vh;
    margin: 10px;
    position: relative;
    z-index: 0;
    transition: all 0.3s;
    transition-property: box-shadow;
    cursor: pointer;
    border-radius: 5px;

    a {
      height: 35vh;
      text-decoration: none;
      font-weight: 600;
      line-height: 1.2rem;
      font-size: 1rem;
      color: #fff;
    }

    &:hover {
      z-index: 1;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 1);
      transition: all 0.4s 0.2s;
      transition-property: box-shadow;
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }

    .overlay-gallery {
      background: rgba(0, 0, 0, 0.7);
      opacity: 0;
      z-index: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 5%;
      text-align: center;
      transition: opacity 0.3s;
      color: #fff;
      border-radius: 5px;

      &:hover {
        opacity: 1;
        z-index: 2;
        transition: opacity 0.4s 0.2s;
      }

      h3 {
        font-weight: 600;
        line-height: 1.2rem;
        font-size: 1rem;
        margin-bottom: 10px;
      }

      .ratings {
        @include flex-box(null, null, center, center);

        img {
          width: 25px;
          margin: 0 5px;
        }

        p {
          font-size: 1rem;
        }
      }
    }
  }
}
