.row {
  @include flex-box(row, wrap, flex-start, center);
  padding: 0 60px;
}

.locandine-wrapper {
  // hack for waypoints to call api
  padding: 1% 0;

  .render-locandine-inner {
    // @include flex-box(row, wrap, flex-start, center);
    // margin-top: -11%;
    // padding: 0 60px;
  }

  .locandina-outer {
    @include flex-box(column, null, center, center);
    flex-basis: calc(14.28% - 38px);
    width: calc(14.28vw - 38px);
    height: 32vh;
    margin: 10px;
    position: relative;
    z-index: 0;
    transition: all 0.3s;
    // transition-property: box-shadow, transform, z-index;
    cursor: pointer;
    border-radius: 5px;

    // @include otherEach(7) {
    //   &:hover {
    //     z-index: 1;
    //     transform: scale(1.3);
    //     transform-origin: left;
    //   }
    // }

    // @include each(7) {
    //   &:hover {
    //     z-index: 1;
    //     transform: scale(1.3);
    //     transform-origin: right;
    //   }
    // }

    a {
      height: 32vh;
      text-decoration: none;
      font-weight: 600;
      line-height: 1.2rem;
      font-size: 1rem;
      color: #fff;
    }

    &:hover {
      z-index: 1;
      transform: scale(1.3);
      transform-origin: center;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
      transition: all 0.4s 0.4s;
      // transition-property: box-shadow, transform, z-index;
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }

    .overlay-gallery {
      // background: rgba(0, 0, 0, 0.7);
      // opacity: 0;
      z-index: 2;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      // justify-content: center;
      // padding: 5%;
      // text-align: center;
      // transition: opacity 0.3s;
      // color: #fff;
      // border-radius: 5px;

      &:hover {
        opacity: 1;
        // z-index: 2;
        transition: opacity 0.5s 1.4s;
      }

      h3 {
        display: none;
        // font-weight: 600;
        // line-height: 1.2rem;
        // font-size: 1rem;
        // margin-bottom: 10px;
      }

      .ratings {
        display: none;
        // @include flex-box(null, null, center, center);

        // img {
        //   width: 25px;
        //   margin: 0 5px;
        // }

        // p {
        //   font-size: 1rem;
        // }
      }

      .chevron {
        width: 100%;
        position: absolute;
        bottom: 0;
        z-index: 3;
        img {
          width: 20px;
        }
      }
    }
  }
}
