.locandine-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 120px;
  padding-bottom: 60px;

}

.locandina-outer {
  display: flex;
  flex-basis: calc(14.28% - 2px);
  width: calc(14.28vw - 2px);
  height: 260px;
  padding: 1px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: scale(1);
  z-index: 0;
  transition: .3s;
  cursor: pointer;


  &:hover {
    transform: scale(1.3);
    z-index: 1;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 1);
    padding: 0px;
    flex-basis: 14.28%;
    width: 14.28vw;
    transition: .3s .3s;
  }

  img {
    width: 100%;
    height: 100%;
  }

  .overlay-gallery {
    background: rgba(0, 0, 0, .6);
    opacity: 0;
    z-index: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: .3s .1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10%;
    text-align: center;

    &:hover {
      opacity: 1;
      z-index: 2;
      transition: .5s .5s;
    }

    h3 {
      font-size: 1.1rem;
      margin-bottom: 10px;
    }

    p {
      font-size: 1rem;
    }

  }


}