.locandine-wrapper {
  // hack for waypoints to call api
  padding: 0 0 5%;

  .render-locandine-inner {
    .row {
      @include flex-box(row, wrap, flex-start, center);
      padding: 0 60px;

      .loc-wrapper {
        transition: 0.3s;
        z-index: 0;
        margin: 10px;

        &:hover {
          z-index: 1;
          transform: scale(1.05);
          transform-origin: center;
          transition: all 0.4s 0.2s;
          transition-property: transform;
        }

        @include otherEach(7) {
          &:hover {
            z-index: 1;
            transform: scale(1.05);
            transform-origin: left;
          }
        }

        @include each(7) {
          &:hover {
            z-index: 1;
            transform: scale(1.05);
            transform-origin: right;
          }
        }
      }

      .locandina-outer {
        @include flex-box(column, null, center, center);
        flex-basis: calc(14.28% - 38px);
        width: calc(14.28vw - 38px);
        height: 32vh;
        position: relative;
        cursor: pointer;
        border-radius: 5px;

        a {
          height: 32vh;
        }

        img {
          width: 100%;
          height: 100%;
          border-radius: 5px;
        }

        .overlay-gallery {
          @include flex-box(column, null, flex-end, center);
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.6) 100%);
          z-index: 2;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          opacity: 0;
          transition: opacity 0.4s;
          border-radius: 5px;

          &:hover {
            opacity: 1;
            transition: opacity 0.6s 0.2s;
          }

          .chevron {
            img {
              margin-bottom: 5px;
              width: 20px;
              transform: rotate(270deg);
            }
          }
        }
      }
    }
  }
}
