.nav-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: rgba(44, 28, 28, 0.2);
  z-index: 101;
}

.nav-list-wrapper {
  width: 300px;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.movie-genres-wrapper {
  display: flex;
  justify-content: flex-start;
  margin: 0 0 0 20px;
  width: 120px;
}

.movie-genre {
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 15px;
  font-size: 1.2rem;
  transition: 0.3s;
  display: inline-flex;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
  &:hover {
    transform: translateX(5px);
  }
  &:before {
    content: "";
    position: absolute;
    box-shadow: 1px 1px 10px rgb(255, 17, 88);
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s ease-in-out 0s;
  }
  &:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
}
