.nav-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: rgba(44, 28, 28, 0.2);
  z-index: 101;
}

.nav-list-wrapper {
  width: 200px;
  height: 100%;
  background: rgba(0, 0, 0, 1);
}

.menu-logo {
  background: #000;
  backface-visibility: hidden;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 103;
  img {
    width: 70%;
    padding: 30px;
  }
}

.genres-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 0 20px;
}

.genres-list {
  max-width: 100px;
}

.genres {
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 10px;
  font-size: 1.2rem;
  display: inline-flex;
  position: relative;
  cursor: pointer;
  &:before {
    content: "";
    position: absolute;
    box-shadow: 1px 1px 10px rgb(255, 17, 88);
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s ease-in-out 0s;
  }
  &:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
}

.scrollbar {
  height: calc(100vh - 13rem) !important;
}
