.nav-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  // overflow: hidden;
  width: 100%;
  height: 100vh;
  /* padding: 100px 0 0 30px; */
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  z-index: 101;
}

.nav-list-wrapper {
  width: 300px;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.thumb-vertical {
  color: pink;
}

.nav-list a {
  display: block;
  text-align: left;
  font-size: 4rem;
  color: white;
  text-decoration: none;
  transition: 0.3s ease border;
  border-bottom: solid 4px transparent;
}
