.nav-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: rgba(31, 19, 19, 0.5);
  z-index: 101;
}

.nav-list-wrapper {
  width: 200px;
  height: 100%;
  background: rgba(0, 0, 0, 1);
  box-shadow: 3px 0 10px rgba(0, 0, 0, 1);
}

.menu-logo {
  @include flex-box(column, null, center, center);
  background: #000;
  backface-visibility: hidden;
  width: 200px;
  z-index: 103;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 1);
  border-bottom: 1px solid #fff;

  img {
    width: 30%;
    margin: 20px;

  }

  .signup {
    width: 100%;
    @include flex-box(column, null, center, center);
    color: #fff;
    margin: 0 0 30px 0;

    p {
      font-size: 20px;
      text-transform: uppercase;
      font-weight: bold;
      padding: 10px 0;
      cursor: pointer;
      transition: .2s;

      &:hover {
        color: rgb(255, 235, 235);
        transition: .3s;
        text-shadow: 1px 0px 14px rgb(255, 235, 235);
      }
    }
  }
}

.genres-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0 50px 20px;
}

.genres-list {
  max-width: 100px;
}

.genres {
  color: #fff;
  margin: 10px;
  font-size: 1.2rem;
  display: inline-flex;
  position: relative;
  cursor: pointer;
  text-decoration: none;

  &:before {
    content: "";
    position: absolute;
    box-shadow: 1px 1px 10px rgb(255, 17, 88);
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s ease-in-out 0s;
  }

  &:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
}

.ScrollbarsCustom {
  position: relative;
  width: 100%;
}

.ScrollbarsCustom-Wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 10px;
  overflow: hidden;
}

.ScrollbarsCustom-Scroller {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  overflow: hidden scroll;
  padding-right: 20px;
  margin-right: -20px;
}

.ScrollbarsCustom-Track {
  position: absolute;
  overflow: hidden;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.2);
  user-select: none;
  width: 3px;
  height: calc(100% - 20px);
  top: 10px;
  right: 0px;
}

.ScrollbarsCustom-Thumb {
  touch-action: none;
  cursor: pointer;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 639.091px;
  transform: translateY(0px);
}