.search-input {
  height: 100%;
  @include flex-box(null, null, center, center);
  position: relative;
}

.search-input__inp {
  font-size: 18px;
  padding: 8px;
  margin: 25px 30px 0 10px;
  border-radius: 5px;
  border: 1px solid rgb(226, 210, 210);
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
}

.search-input__img {
  margin: 13px 40px;
  position: absolute;
  width: 20px;
  right: 0;
}
