.highlight-outer {
  // margin: 70px 0 0;
  height: 80vh;
  overflow: hidden;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .highlight-content {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.8) 1%,
      rgba(0, 0, 0, 0.3) 40%,
      rgba(0, 0, 0, 0.3) 50%,
      rgba(0, 0, 0, 1) 100%
    );
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @include flex-box(row, null, center, flex-start);

    .highlight-video {
      padding-top: 5%;
      @include flex-box(null, null, center, center);
      flex: 1;
    }

    .info-wrapper-highlight {
      flex: 1;
      padding: 5% 30px 0;

      h3 {
        color: #fff;
        font-size: 46px;
        font-weight: bold;
        margin-bottom: 40px;
      }

      p {
        color: #fff;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 40px;
      }

      .cta {
        button {
          cursor: pointer;
          background: rgba(0, 0, 0, 0.6);
          border: none;
          // border: 1px solid white;
          border-radius: 5px;
          height: 45px;
          width: 160px;
          font-size: 20px;
          font-weight: bold;
          color: #fff;
          margin: 10px 10px 10px 0;
          transition: 0.3s;
          &:hover {
            background: rgba(209, 209, 209, 0.4);
            transition: 0.3s;
            font-size: 21px;
          }
        }
      }
    }
  }
  .chevron {
    cursor: pointer;
    position: absolute;
    bottom: 2%;
    left: 50%;
    img {
      width: 30px;
      transform: rotate(90deg);
    }
  }
}
