.nav__type-toggle {
  @include flex-box(row, null, flex-start, center);
  margin: 18px 0 0 30px;
  opacity: 0.8;
}

.toggle__img--film {
  margin: 0 20px 0 0;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
}

.toggle__img--tele {
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}

.favorites-button {
  margin: 0 0 0 60px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}

@media only screen and (max-width: 768px) {
  .favorites-button {
    margin: 0px;
  }

  .toggle__img--film {
    margin: 0px;
  }

  .nav__type-toggle {
    @include flex-box(row, null, space-evenly, center);
    margin: 12px 0 0;
    width: 100%;
  }
}

@media only screen and (max-width: 668px) {
  .nav__type-toggle {
    margin: 20px 0 5px;
  }
}
