.nav__type-toggle {
  @include flex-box(row, null, flex-start, center);
  margin: 18px 0 0 30px;
  opacity: 0.8;
}

.toggle__img--film {
  margin: 0 20px 0 0;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  // font-weight: bold;
}

.toggle__img--tele {
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  // font-weight: bold;
}

.favorites-button {
  margin: 0 0 0 60px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  // font-weight: bold;
}
