.nav__type-toggle {
  margin-top: 15px;
  opacity: 0.8;
  transform: scale(0.85) translateX(-120%);
  transform-origin: center;
}

.toggle__img--film {
  width: 33px;
  margin: 0 30px 0 0;
  cursor: pointer;
}

.toggle__img--tele {
  width: 38px;
  cursor: pointer;
}
