.nav__type-toggle {
  margin: 18px 0 0 30px;
  opacity: 0.8;
}

.toggle__img--film {
  width: 33px;
  margin: 0 30px 0 0;
  cursor: pointer;
}

.toggle__img--tele {
  width: 38px;
  cursor: pointer;
}
