//////////////////////////////////////////
// font sizing
//////////////////////////////////////////
$s-size: 1.4rem;
$m-size: 1.6rem;
$l-size: 2.4rem;
$xl-size: 3.1rem;
$xxl-size: 4.8rem;
$super-xxl-size: 6.8rem;
$xxxl-size: 8.7rem;
//////////////////////////////////////////
// @ media
//////////////////////////////////////////
$_320: 320px;
$_668: 668px;
$_768: 768px;
$_1024: 1024px;
//
$_1366: 1366px;
$_1536: 1536px;
$_1920: 1920px;
//
$normal-phones-height: 568px;
$plus-phones-height: 736px;
$ipad-height: 1024px;
$ipad-pro-height: 1366px;
