.slide-outer {
  height: 100vh;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  .overlay-gallery-1 {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.1) 50%,
      rgba(0, 0, 0, 0.6) 70%,
      rgba(0, 0, 0, 0.9) 90%,
      rgba(0, 0, 0, 1) 100%
    );
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .overlay-gallery-2 {
      @include flex-box(column, wrap, center, flex-end);
      background: linear-gradient(
          to right,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0) 1%,
          rgba(0, 0, 0, 0) 52%,
          rgba(0, 0, 0, 0.5) 100%
        ),
        linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0) 100%);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      .info-wrapper {
        border-radius: 5px;
        margin-bottom: 100px;
        background: linear-gradient(
          to right,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0) 1%,
          rgba(0, 0, 0, 0) 52%,
          rgba(0, 0, 0, 0.5) 100%
        );
        padding: 20px;
        width: 35%;
        h3 {
          font-size: 70px;
          color: #fff;
          font-weight: bolder;
          margin: 0 0 30px;
        }
        p {
          font-size: 22px;
          line-height: 22px;
          color: #fff;
          margin: 0 0 30px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        .cta {
          @include flex-box(row, wrap, flex-start, center);
          button {
            cursor: pointer;
            background: rgba(0, 0, 0, 0.6);
            border: none;
            border-radius: 5px;
            padding: 10px 30px;
            font-size: 20px;
            font-weight: bold;
            color: #fff;
            margin: 0 20px 0 0;
            transition: 0.3s;
            &:hover {
              background: rgba(209, 209, 209, 0.4);
              transition: 0.3s;
            }
          }
        }
      }
    }
  }
}
