.swiper-container {
  height: 70vh;
  width: 100%;
}

.swiper-slide {}

.slide-outer {
  background-position: top !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}