.slide-outer {
  height: 100vh;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  .overlay-gallery-1 {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.1) 50%,
      rgba(0, 0, 0, 0.6) 70%,
      rgba(0, 0, 0, 0.9) 90%,
      rgba(0, 0, 0, 1) 100%
    );
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .overlay-gallery-2 {
      @include flex-box(column, wrap, center, flex-end);
      background: linear-gradient(
          to right,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0) 1%,
          rgba(0, 0, 0, 0) 52%,
          rgba(0, 0, 0, 0.5) 100%
        ),
        linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0) 100%);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      .info-wrapper {
        margin-bottom: 100px;
        background: linear-gradient(
          to right,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0) 1%,
          rgba(0, 0, 0, 0) 52%,
          rgba(0, 0, 0, 0.5) 100%
        );
        padding: 20px;
        width: 45%;
        h3 {
          font-size: 70px;
          color: #fff;
          font-weight: bolder;
          margin: 0 0 30px;
        }
        p {
          font-size: 22px;
          line-height: 22px;
          color: #fff;
          margin: 0 0 30px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        .cta {
          @include flex-box(row, wrap, flex-start, center);
          button {
            cursor: pointer;
            background: rgba(0, 0, 0, 0.6);
            border: none;
            border-radius: 5px;
            padding: 10px 30px;
            font-size: 20px;
            font-weight: bold;
            color: #fff;
            margin: 0 20px 0 0;
            transition: 0.3s;
            &:hover {
              background: rgba(209, 209, 209, 0.4);
              transition: 0.3s;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1366px) {
  .slide-outer {
    .overlay-gallery-1 {
      .overlay-gallery-2 {
        .info-wrapper {
          h3 {
            font-size: 55px;
            color: #fff;
            font-weight: bolder;
            margin: 0 0 30px;
          }
          p {
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .slide-outer {
    height: 70vh;

    .overlay-gallery-1 {
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.1) 50%,
        rgba(0, 0, 0, 0.8) 80%,
        rgba(0, 0, 0, 0.9) 90%,
        rgba(0, 0, 0, 1) 100%
      );
      .overlay-gallery-2 {
        @include flex-box(row, wrap, center, flex-end);
        .info-wrapper {
          text-align: center;
          margin-bottom: 50px;
          padding: 10px 40px;
          width: 100%;
          h3 {
            font-size: 50px;
            color: #fff;
            font-weight: bolder;
            margin: 0 0 30px;
          }
          .cta {
            @include flex-box(row, wrap, center, center);
            button {
              background: transparent;
              border: 1px solid rgba(255, 255, 255, 0.808);
              border-radius: 5px;
              padding: 10px 30px;
              font-size: 18px;
              font-weight: bold;
              color: #fff;
              margin: 10px 20px;
              &:hover {
                background: transparent;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 668px) {
  .slide-outer {
    height: 70vh;

    .overlay-gallery-1 {
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.1) 50%,
        rgba(0, 0, 0, 0.8) 80%,
        rgba(0, 0, 0, 0.9) 90%,
        rgba(0, 0, 0, 1) 100%
      );
      .overlay-gallery-2 {
        @include flex-box(row, wrap, center, flex-end);
        .info-wrapper {
          margin-bottom: 50px;
          padding: 0px;
          width: 100%;
          .cta {
            @include flex-box(row, wrap, space-evenly, center);
            button {
              background: transparent;
              border: 1px solid rgba(255, 255, 255, 0.808);
              border-radius: 5px;
              padding: 10px 30px;
              font-size: 16px;
              font-weight: bold;
              color: #fff;
              margin: 0;
              &:hover {
                background: transparent;
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}
