.more-info-wrapper {
  background: linear-gradient(to right, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0.9) 70%, rgba(0, 0, 0, 0) 100%);
  height: 65vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  .more-info-title {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    margin: 80px 0 0 80px;
    @include flex-box(null, null, flex-start, center);
  }
  .more-info-wrapper_inner {
    @include flex-box(row, null, flex-start, center);
    .more-info-wrapper__col {
      color: #fff;
      ul {
        margin: 60px;
        h5 {
          font-weight: bold;
          font-size: 22px;
        }
        li {
          font-style: italic;
          margin: 10px;
          font-size: 18px;
          a {
            font-style: initial;
            font-weight: bold;
            font-size: 20px;
            margin: 0 10px 0;
            color: #fff;
          }
          span {
            font-style: initial;
            font-weight: bold;
            font-size: 20px;
            margin: 0 10px 0;
          }
        }
      }
    }
    .more-info-wrapper__col--cast {
      width: 30%;
      color: #fff;
      margin: 0 60px;
      h5 {
        font-weight: bold;
        font-size: 22px;
        margin: 10px 10px 10px 0;
      }
      span {
        font-size: 18px;
        line-height: 24px;
      }
    }
  }
}
