.modal-outer {
  margin: 20px 0;
  height: 60vh;
  overflow: hidden;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .modal-content {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.8) 1%,
        rgba(0, 0, 0, 0.3) 40%,
        rgba(0, 0, 0, 0.3) 70%,
        rgba(0, 0, 0, 1) 100%
      ),
      linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.8) 1%,
        rgba(0, 0, 0, 0.3) 40%,
        rgba(0, 0, 0, 0.3) 70%,
        rgba(0, 0, 0, 1) 100%
      );
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @include flex-box(row, null, center, flex-start);

    .modal-video {
      padding-top: 5%;
      @include flex-box(null, null, center, center);
      flex: 1;
    }

    .info-wrapper-modal {
      flex: 1;
      padding: 5% 30px 0;

      h3 {
        color: #fff;
        font-size: 46px;
        font-weight: bold;
        margin-bottom: 40px;
      }

      p {
        color: #fff;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 40px;
      }

      .cta {
        button {
          cursor: pointer;
          background: rgba(0, 0, 0, 0.6);
          border: none;
          // border: 1px solid white;
          border-radius: 5px;
          height: 45px;
          width: 160px;
          font-size: 20px;
          font-weight: bold;
          color: #fff;
          margin: 10px;
        }
      }
    }
  }
  .close {
    cursor: pointer;
    position: absolute;
    top: 5%;
    right: 3%;
    img {
      width: 20px;
    }
  }
}
