.modal-outer {
  // margin-top: 10px;
  height: 55vh;
  overflow: hidden;
  position: relative;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  .modal-content {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.8) 1%,
      rgba(0, 0, 0, 0.3) 40%,
      rgba(0, 0, 0, 0.3) 50%,
      rgba(0, 0, 0, 1) 100%
    );
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @include flex-box(row, null, center, center);

    .modal-video {
      @include flex-box(null, null, center, center);
      flex: 1;
      img {
        height: 400px;
        border-radius: 5px;
      }
    }

    .info-wrapper-modal {
      flex: 1;
      padding: 0% 30px 0;

      h3 {
        color: #fff;
        font-size: 46px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      h5 {
        color: #fff;
        font-size: 26px;
        font-style: italic;
        margin-bottom: 30px;
      }

      p {
        color: #fff;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 20px;
      }

      .modal-genres {
        display: flex;
        margin-bottom: 40px;

        p {
          margin: 0 10px 0 0;
          color: #fff;
          font-weight: bold;
          font-size: 18px;
          line-height: 22px;
          font-style: italic;
        }
      }

      .cta {
        button {
          cursor: pointer;
          background: rgba(0, 0, 0, 0.6);
          border: none;
          // border: 1px solid white;
          border-radius: 5px;
          height: 45px;
          width: 160px;
          font-size: 20px;
          font-weight: bold;
          color: #fff;
          margin: 0 20px 0 0;
        }
      }
    }
  }
  .close {
    cursor: pointer;
    position: absolute;
    top: 5%;
    right: 3%;
    img {
      width: 20px;
    }
  }
}
