.modal-outer {
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  position: relative;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  .modal-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @include flex-box(row, null, center, center);

    .video-container {
      @include flex-box(null, null, flex-end, center);
      height: 65vh;
      width: 100%;
      z-index: 4;
      .video {
        height: 65vh;
        opacity: 0;
        width: 65vw;
      }
      .fadein {
        opacity: 1;
        transition: 0.8s;
      }
    }

    .info-wrapper-modal {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 1) 36.5%,
        rgba(0, 0, 0, 0.4) 53%,
        rgba(0, 0, 0, 0) 100%
      );
      padding: 5%;

      .sizer {
        width: 45%;

        .info-inner {
          @include flex-box(column, wrap, center, flex-start);
          h3 {
            color: #fff;
            font-size: 46px;
            font-weight: bold;
            margin-bottom: 10px;
          }

          h5 {
            color: #fff;
            font-size: 26px;
            font-style: italic;
            margin-bottom: 30px;
          }

          p {
            color: #fff;
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 20px;
          }

          .modal-genres {
            display: flex;
            margin-bottom: 40px;

            p {
              margin: 0 10px 0 0;
              color: #fff;
              font-weight: bold;
              font-size: 18px;
              line-height: 22px;
              font-style: italic;
            }
          }

          .cta {
            @include flex-box(row, wrap, center, center);
            button {
              cursor: pointer;
              background: rgba(255, 255, 255, 0.116);
              border: none;
              border-radius: 5px;
              padding: 10px 30px;
              font-size: 20px;
              font-weight: bold;
              color: #fff;
              margin: 0 20px 0 0;
              transition: 0.3s;
              &:hover {
                background: rgba(209, 209, 209, 0.4);
                transition: 0.3s;
                font-size: 21px;
              }
            }
          }
        }
        .rel {
          position: absolute;
          bottom: 5%;
          left: 5%;
          button {
            background: none;
            font-size: 18px;
            border: none;
            color: #fff;
            margin: 0 10px 0;
            cursor: pointer;
          }
        }
      }
    }
  }
  .close {
    z-index: 6;
    cursor: pointer;
    position: absolute;
    top: 5%;
    right: 3%;
    img {
      width: 20px;
    }
  }
  .mute {
    z-index: 6;
    cursor: pointer;
    position: absolute;
    top: 5%;
    right: 6%;
    img {
      width: 20px;
    }
  }
  .pause {
    z-index: 6;
    cursor: pointer;
    position: absolute;
    top: 5%;
    right: 9%;
    img {
      width: 20px;
    }
  }
}

@media only screen and (max-width: 1366px) {
  .modal-outer {
    .modal-content {
      .info-wrapper-modal {
        .sizer {
          .info-inner {
            h3 {
              font-size: 40px;
            }

            h5 {
              font-size: 20px;
            }

            p {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1280px) and (max-height: 635px) {
  .modal-outer {
    .modal-content {
      .info-wrapper-modal {
        .sizer {
          .info-inner {
            h3 {
              font-size: 30px;
            }

            h5 {
              font-size: 18px;
            }

            p {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .modal-outer {
    .modal-content {
      .video-container {
        margin-top: 27%;
        .video {
          width: 100vw;
        }
      }

      .info-wrapper-modal {
        background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 1) 0%,
          rgba(0, 0, 0, 1) 36.5%,
          rgba(0, 0, 0, 0.4) 53%,
          rgba(0, 0, 0, 0) 100%
        );
        .sizer {
          width: 100%;

          .info-inner {
            h3 {
              font-size: 36px;
            }

            h5 {
              font-size: 20px;
            }

            p {
              font-size: 16px;
            }
            .cta {
              button {
                font-size: 20px;
                &:hover {
                  background: rgba(255, 255, 255, 0.116);
                  font-size: 20px;
                }
              }
            }
          }
        }
      }
    }
    .close {
      right: 3%;
    }
    .mute {
      right: 8%;
    }
    .pause {
      right: 13%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .modal-outer {
    .modal-content {
      .info-wrapper-modal {
        .sizer {
          .info-inner {
            h3 {
              font-size: 30px;
            }

            h5 {
              font-size: 18px;
            }

            p {
              font-size: 16px;
            }
            .cta {
              position: absolute;
              right: 3%;
              top: 30%;
              button {
                font-size: 16px;
                &:hover {
                  background: rgba(255, 255, 255, 0.116);
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
    }
  }
}
