.modal-outer {
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  position: relative;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  .modal-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @include flex-box(row, null, center, center);

    .video-container {
      @include flex-box(null, null, flex-end, center);
      height: 65vh;
      width: 100%;
      z-index: 4;
      .video {
        height: 65vh;
        width: 65vw;
      }
    }

    .info-wrapper-modal {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 1) 36.5%,
        rgba(0, 0, 0, 0.4) 53%,
        rgba(0, 0, 0, 0) 100%
      );
      padding: 5%;

      .sizer {
        width: 45%;

        .info-inner {
          @include flex-box(column, wrap, center, flex-start);
          h3 {
            color: #fff;
            font-size: 46px;
            font-weight: bold;
            margin-bottom: 10px;
          }

          h5 {
            color: #fff;
            font-size: 26px;
            font-style: italic;
            margin-bottom: 30px;
          }

          p {
            color: #fff;
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 20px;
          }

          .modal-genres {
            display: flex;
            margin-bottom: 40px;

            p {
              margin: 0 10px 0 0;
              color: #fff;
              font-weight: bold;
              font-size: 18px;
              line-height: 22px;
              font-style: italic;
            }
          }

          .cta {
            button {
              cursor: pointer;
              background: rgba(0, 0, 0, 0.6);
              border: none;
              // border: 1px solid white;
              border-radius: 5px;
              height: 45px;
              width: 160px;
              font-size: 20px;
              font-weight: bold;
              color: #fff;
              margin: 0 20px 0 0;
            }
          }
        }
      }
    }
  }
  .close {
    z-index: 6;
    cursor: pointer;
    position: absolute;
    top: 5%;
    right: 3%;
    img {
      width: 20px;
    }
  }
}
