.thumb-wrapper {
  background: rgba(0, 0, 0, 0.95);
  height: 65vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  .thumb-inner {
    @include flex-box(column, null, center, center);
    height: 65vh;

    .thumb-container {
      @include flex-box(null, null, center, center);
      height: 40vh;
      width: 100%;
      .thumb {
        width: 90%;
      }
    }
    .thumb-info {
      color: #fff;
    }
  }
}

.thumb-wrapper-no-slider {
  background: rgba(0, 0, 0, 0.95);
  height: 65vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  @include flex-box(row, null, center, center);

  .thumb-inner-no-slider {
    @include flex-box(column, null, center, center);
    height: 65vh;
    width: 100%;

    .thumb-container-no-slider {
      @include flex-box(null, null, center, center);
      height: 40vh;
      width: 100%;

      .thumb-no-slider {
        width: 90%;
      }
      .thumb-no-slider-duo {
        width: 76%;
      }
      .thumb-no-slider-solo {
        width: 40%;
      }
    }
    .thumb-info-no-slider {
      color: #fff;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .thumb-wrapper-no-slider {
    @include flex-box(column, null, center, center);
    // padding: 40px 0;
    overflow: auto;

    .thumb-inner-no-slider {
      @include flex-box(column, null, center, center);
      height: auto;
      width: 100%;

      .thumb-container-no-slider {
        @include flex-box(null, null, center, center);
        height: 30vh;
        width: 100%;

        .thumb-no-slider {
          width: 100%;
        }
        .thumb-no-slider-duo {
          width: 100%;
        }
        .thumb-no-slider-solo {
          width: 100%;
        }
      }
      .thumb-info-no-slider {
        color: #fff;
      }
    }
  }
}
