.thumb-wrapper {
  background: rgba(0, 0, 0, 0.95);
  height: 65vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  .thumb-inner {
    @include flex-box(column, null, center, center);
    height: 65vh;

    .thumb-container {
      @include flex-box(null, null, center, center);
      height: 40vh;
      width: 100%;
      .thumb {
        width: 90%;
      }
    }
    .thumb-info {
      color: #fff;
    }
  }
}
