.last-item-wrapper {
  margin: 20px 0;
  height: 60vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  opacity: 1;
  transition: 0.4s;

  &.show {
    opacity: 0;
    transition: 0.4s;
  }

  .overlay-handler {
    z-index: 22;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
    @include flex-box(row, null, flex-end, center);

    .last-item__info-wrapper {
      width: 25%;
      height: 100%;
      z-index: 20;
      @include flex-box(column, null, center, flex-start);
      padding: 0 20px;

      .last-item__title {
        font-size: 50px;
        font-weight: bold;
        color: #fff;
        margin: 0 0 30px 0;
      }

      .last-item__overview {
        font-size: 18px;
        line-height: 22px;
        color: #fff;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
        margin: 0 0 30px 0;
      }

      .last-item__genres-wrapper {
        @include flex-box(row, wrap, center, center);
        margin: 0 0 30px 0;
        .last-item__genres {
          font-size: 20px;
          font-style: italic;
          font-weight: bold;
          color: #fff;
          margin: 0 3px;
        }
      }

      .last-item__cta {
        @include flex-box(row, wrap, flex-start, center);
        button {
          cursor: pointer;
          background: rgba(0, 0, 0, 0.6);
          border: none;
          border-radius: 5px;
          padding: 10px 30px;
          font-size: 20px;
          font-weight: bold;
          color: #fff;
          margin: 0 20px 0 0;
          transition: 0.3s;
          &:hover {
            background: rgba(209, 209, 209, 0.4);
            transition: 0.3s;
          }
        }
      }
    }
  }

  .last-item__video-wrapper {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: 0.4s;

    &.active {
      opacity: 1;
      transition: 0.4s;
    }

    .last-item-video-container {
      iframe {
        width: 100%;
        height: 173%;
        transform: translate(-50%, -50%);
        position: absolute;
        left: 50%;
        top: 50%;
      }
    }
  }
}
