.last-item-wrapper {
  margin: 50px 0;
  height: 60vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .last-item__video-wrapper {
  }

  .last-item__info-wrapper {
    .last-item__title {
      font-size: 50px;
      color: #fff;
    }
    .last-item__overview {
      font-size: 20px;
      color: #fff;
    }
  }
}
