@import "~reset-css/sass/reset";
@import "~swiper/dist/css/swiper.min.css";

// helpers
@import "./styles/functions/functions";
@import "./styles/mixins/mixins";
@import "./styles/variables/variables";

// components
@import "./components/App/app.scss";
@import "./components/Nav/Nav.scss";
@import "./components/SearchInput/SearchInput.scss";
@import "./components/NavToggle/NavToggle.scss";
@import "./components/SlideMenu/SlideMenu.scss";
@import "./components/MenuToggle/MenuToggle.scss";
@import "./components/TopItems/TopItems.scss";

// @import "styles/_colors.scss"; // assuming a styles directory under src/
// @import "~nprogress/nprogress"; // importing a css file from the nprogress node module

body {
  background: rgb(19, 19, 19);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// ::-webkit-scrollbar {
//   width: 0px; /* Remove scrollbar space */
//   background: transparent; /* Optional: just make scrollbar invisible */
//   -ms-overflow-style: none; // IE 10+
//   scrollbar-width: none; // Firefox
// }

input,
button {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
li {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}