@import "~reset-css/sass/reset";

// helpers
@import "./styles/functions/functions";
@import "./styles/mixins/mixins";
@import "./styles/variables/variables";

// components
@import "./components/App/app.scss";
@import "./components/Nav/Nav.scss";
@import "./components/SearchInput/SearchInput.scss";
@import "./components/NavToggle/NavToggle.scss";
@import "./components/SlideMenu/SlideMenu.scss";
@import "./components/MenuToggle/MenuToggle.scss";
@import "./components/TopItems/TopItems.scss";
@import "./components/VisoreSlider/VisoreSlider.scss";
@import "./components/ItemHighLight/ItemHighlight.scss";
@import "./components/MovieModal/MovieModal.scss";
@import "./components/MovieModal/RelatedItems.scss";
@import "./components/MovieModal/Similars.scss";
@import "./components/MovieModal/MoreInfo.scss";
@import "./components/TitleModal/TitleModal.scss";

// @import "styles/_colors.scss"; // assuming a styles directory under src/
// @import "~nprogress/nprogress"; // importing a css file from the nprogress node module

body {
  background: rgb(0, 0, 0);
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  outline: transparent;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
  -ms-overflow-style: none; // IE 10+
  scrollbar-width: none; // Firefox
}

input,
button {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
li,
span {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.paging-dot {
  width: 10px !important;
  height: 10px !important;
  background: #fff !important;
}
