@import "~reset-css/sass/reset";

// helpers
@import "./styles/functions/functions";
@import "./styles/mixins/mixins";
@import "./styles/variables/variables";

// components
@import "./components/App/app.scss";
@import "./components/Nav/Nav.scss";

// @import "styles/_colors.scss"; // assuming a styles directory under src/
// @import "~nprogress/nprogress"; // importing a css file from the nprogress node module
