.nav {
  @include flex-box(null, null, center, center);
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  height: 60px;
  // height: 90px;
  box-shadow: 0px 0px 10px 20px rgba(0, 0, 0, 0.8);
  z-index: 100;
}

.nav__img {
  width: 220px;
  // width: 320px;
}

.nav__type-toggle-container {
  flex-basis: 33.3%;
  @include flex-box(null, null, flex-start, center);
  height: 100%;
  margin-top: 10px;
}

.nav__logo {
  margin-top: 30px;
  flex-basis: 33.3%;
  @include flex-box(null, null, center, center);
  opacity: 0.6;
  transform: scale(1);
  transform-origin: center;
}

.nav__search-inp {
  flex-basis: 33.3%;
  @include flex-box(null, null, flex-end, center);
  height: 100%;
}