.nav {
  @include flex-box(null, null, center, center);
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0);
  height: 60px;
  box-shadow: 0px 0px 10px 20px rgba(0, 0, 0, 0);
  z-index: 100;
}

.nav__img {
  width: 220px;
}

.nav__type-toggle-container {
  flex-basis: 33.3%;
  @include flex-box(null, null, flex-start, center);
  height: 100%;
}

.nav__logo {
  margin-top: 17px;
  flex-basis: 33.3%;
  @include flex-box(null, null, center, center);
  opacity: 0.6;
  transform: scale(1);
  transform-origin: center;
}

.nav__search-inp {
  margin-bottom: 8px;
  flex-basis: 33.3%;
  @include flex-box(null, null, flex-end, center);
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .nav__type-toggle-container {
    @include flex-box(null, null, flex-start, center);
  }
  .nav__img {
    width: 180px;
  }
}

@media only screen and (max-width: 668px) {
  .nav {
    @include flex-box(column, null, center, center);
    height: 90px;
  }

  .nav__type-toggle-container {
    width: 100%;
  }
}
