.nav {
  @include flex-box(null, null, center, center);
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba($color: #000000, $alpha: 0.6);
  height: 90px;
  box-shadow: 0px 0px 10px 20px rgba(0, 0, 0, 0.6);
}

.nav__img {
  opacity: 0.7;
  transform: rotate(15deg);
  transform-origin: center;
  width: 320px;
  margin-top: 100px;
}
